
</div>
<div style="background-color: rgb(108, 146, 137);">
  <div id="contact" class="container" >
      
    <h3 class="text-center">Contact Us</h3>
    <br><br>
    <div class="row">
      <div class="col-md-4">
        <p>Drop a note.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>Lucknow,India</p>
        <p><span class="glyphicon glyphicon-phone"></span>Phone: +91 1515151515</p>
        <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control col-sm-12" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <div class="row">
          <div class="col-md-12 form-group">  
            <br>
            <button class="btn pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️</p>
  </div>
</div>
</body>
</html>
