<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <title>Signup</title>
</head>
<body>
    <body>

        <div id="login-box">
            <div class="left-box">
                <h1> Sign Up</h1>
    
                <input type="text" name="username" placeholder="Username" />
                <input type="text" name="email" placeholder="Email" />
                <input type="password" name="password" placeholder="password" />
                <input type="password" name="password" placeholder="Re-type password" />
                <input type="submit" name="signup-button" value="Sign Up" ></br>
                <a href="/login">already have an account?</a>
                
            </div>
    
            <div class="right-box">
                <span class="signinwith">Sign in with<br /></span>
                <button class="social facebook">Google+</button><br />
                <button class="social google">Facebook</button><br />
                <button class="social github">Github</button>
            </div>
    
            <div class="or">OR</div>
</body>
</html>