body{
    margin:0;
    padding: 0;
    top:60px;
    position:relative;
    background-image: url(/images/signup_background.jpg);
  
    background-position:bottom;
    font-size: 16px;
    color:#171515;
    font-family: sans-serif;
    font-weight: 300;
}

#login-box{

    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background-color:beige;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 3);
    
}

.left-box{
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;

}

input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border:none;
    outline:auto;
    border-bottom: lpx solid #fff;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"]
{
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #32508e;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active
{
    background: blue;
    transition: 0.2s ease;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.right-box
{
    position: absolute;
    font-display:inherit;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-image: url(signupwith.jpg);
   

    background-size:cover;
    background-position: center;
}

.or
{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background:burlywood;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
}

.right-box .signinwith
{
    display:flow-root;
    margin-bottom: 40px;
    font-size: 28px;
    color:black;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

button.social{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color:#fff;
    font-family: sans-serif;
    font-size:large;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;


}

.google
{
     background-position: left;
    background-image : url(/images/facebook.svg);
    background-repeat: no-repeat;
    background-size:unset;
  background-color: #32508e;
}

.facebook
{
     background-image: url(/images/google.svg);
     background-repeat: no-repeat;
    background-size:unset;
    background-color: #e73636; 
    background-position: left;
}

.github{
   
     background-position: left;
    background-image: url(/images/github.svg);
    background-repeat: no-repeat;
    background-size:unset;
    background-color:#444444;
}

.google:hover , .google:focus , .google:active
{
    background:#007fD3;
    transition: 0.2s ease;
  -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.facebook:hover , .facebook:focus , .facebook:active
{
    background:red;
    transition: 0.2s ease;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}



.github:hover , .github:focus , .google:active
{
    background:#171515;
    transition: 0.2s ease;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}