<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify</title>
    <link rel="stylesheet" type="text/css" href="/css/verify.css">
</head>

<body>
   <div class="center">
       <h1>User Verification</h1>
       <form method="post">
           <div class="txt_field">
               <input type="text" required>
               <span></span>
               <label>Registered e-mail</label></div>
               <div class="txt_field">
               <input type="password" required>
               <span></span>
               <label>Verification Code</label></div>
               <input  onclick="href='/login';"   type="submit" value="Next">
            </div>
        
</body>
</html>