<%- include("partials/header"); -%>
    <h1>My Wishlist</h1>

    <div class="rows">
        <div class="column">
            <div class="skill-card">
                <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
                <section class="skill-card__body">
                  <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
                  <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
                  <ul class="skill-card__knowledge">
                    <li>Rs.199</li>
                    <li style="text-decoration: line-through;">Rs.400</li>
                    <li>(50% OFF)</li>
                    <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
                  </ul>
                </section>
            </div>
        </div>
        <div class="column">
          <div class="skill-card">
            <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
            <section class="skill-card__body">
              <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
              <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
              <ul class="skill-card__knowledge">
                <li>Rs.199</li>
                <li style="text-decoration: line-through;">Rs.400</li>
                <li>(50% OFF)</li>
                <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
              </ul>
            </section>
        </div>
        </div>
        <div class="column">
          <div class="skill-card">
            <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
            <section class="skill-card__body">
              <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
              <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
              <ul class="skill-card__knowledge">
                <li>Rs.199</li>
                <li style="text-decoration: line-through;">Rs.400</li>
                <li>(50% OFF)</li>
                <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
              </ul>
            </section>
        </div>
        </div>
        <div class="column">
          <div class="skill-card">
            <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
            <section class="skill-card__body">
              <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
              <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
              <ul class="skill-card__knowledge">
                <li>Rs.199</li>
                <li style="text-decoration: line-through;">Rs.400</li>
                <li>(50% OFF)</li>
                <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
              </ul>
            </section>
        </div>
        </div>
    </div>

    <div class="rows">
      <div class="column">
          <div class="skill-card">
              <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
              <section class="skill-card__body">
                <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
                <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
                <ul class="skill-card__knowledge">
                  <li>Rs.199</li>
                  <li style="text-decoration: line-through;">Rs.400</li>
                  <li>(50% OFF)</li>
                  <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
                </ul>
              </section>
          </div>
      </div>
      <div class="column">
        <div class="skill-card">
          <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
          <section class="skill-card__body">
            <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
            <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
            <ul class="skill-card__knowledge">
              <li>Rs.199</li>
              <li style="text-decoration: line-through;">Rs.400</li>
              <li>(50% OFF)</li>
              <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
            </ul>
          </section>
      </div>
      </div>
      <div class="column">
        <div class="skill-card">
          <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
          <section class="skill-card__body">
            <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
            <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
            <ul class="skill-card__knowledge">
              <li>Rs.199</li>
              <li style="text-decoration: line-through;">Rs.400</li>
              <li>(50% OFF)</li>
              <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
            </ul>
          </section>
      </div>
      </div>
      <div class="column">
        <div class="skill-card">
          <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
          <section class="skill-card__body">
            <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
            <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
            <ul class="skill-card__knowledge">
              <li>Rs.199</li>
              <li style="text-decoration: line-through;">Rs.400</li>
              <li>(50% OFF)</li>
              <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
            </ul>
          </section>
      </div>
      </div>
  </div>

  <div class="rows">
    <div class="column">
        <div class="skill-card">
            <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
            <section class="skill-card__body">
              <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
              <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
              <ul class="skill-card__knowledge">
                <li>Rs.199</li>
                <li style="text-decoration: line-through;">Rs.400</li>
                <li>(50% OFF)</li>
                <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
              </ul>
            </section>
        </div>
    </div>
    <div class="column">
      <div class="skill-card">
        <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
        <section class="skill-card__body">
          <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
          <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
          <ul class="skill-card__knowledge">
            <li>Rs.199</li>
            <li style="text-decoration: line-through;">Rs.400</li>
            <li>(50% OFF)</li>
            <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
          </ul>
        </section>
    </div>
    </div>
    <div class="column">
      <div class="skill-card">
        <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
        <section class="skill-card__body">
          <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
          <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
          <ul class="skill-card__knowledge">
            <li>Rs.199</li>
            <li style="text-decoration: line-through;">Rs.400</li>
            <li>(50% OFF)</li>
            <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
          </ul>
        </section>
    </div>
    </div>
    <div class="column">
      <div class="skill-card">
        <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
        <section class="skill-card__body">
          <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
          <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
          <ul class="skill-card__knowledge">
            <li>Rs.199</li>
            <li style="text-decoration: line-through;">Rs.400</li>
            <li>(50% OFF)</li>
            <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
          </ul>
        </section>
    </div>
    </div>
</div>

<div class="rows">
  <div class="column">
      <div class="skill-card">
          <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
          <section class="skill-card__body">
            <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
            <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
            <ul class="skill-card__knowledge">
              <li>Rs.199</li>
              <li style="text-decoration: line-through;">Rs.400</li>
              <li>(50% OFF)</li>
              <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
            </ul>
          </section>
      </div>
  </div>
  <div class="column">
    <div class="skill-card">
      <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
      <section class="skill-card__body">
        <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
        <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
        <ul class="skill-card__knowledge">
          <li>Rs.199</li>
          <li style="text-decoration: line-through;">Rs.400</li>
          <li>(50% OFF)</li>
          <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
        </ul>
      </section>
  </div>
  </div>
  <div class="column">
    <div class="skill-card">
      <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
      <section class="skill-card__body">
        <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
        <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
        <ul class="skill-card__knowledge">
          <li>Rs.199</li>
          <li style="text-decoration: line-through;">Rs.400</li>
          <li>(50% OFF)</li>
          <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
        </ul>
      </section>
  </div>
  </div>
  <div class="column">
    <div class="skill-card">
      <header class="skill-card__header"><img class="skill-card__icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYLbYqSqf9z0fEMYC7N-Rqnsxi5ZOkFGZzTQ&usqp=CAU" alt="HTML5 Logo"/></header>
      <section class="skill-card__body">
        <!-- <h2 class="skill-card__title">Book</h2><span class="skill-card__duration">Now Available in store</span> -->
        <h2 class="skill-card__title">Book</h2><span class="skill-card__duration"><button class="btn btn-success" type="button">Buy Now</button></span>
        <ul class="skill-card__knowledge">
          <li>Rs.199</li>
          <li style="text-decoration: line-through;">Rs.400</li>
          <li>(50% OFF)</li>
          <!-- <li><button class="btn btn-red btn-lg">Buy now</button></li> -->
        </ul>
      </section>
  </div>
  </div>
</div>

<%- include("partials/footer"); -%>
